@import url('../fonts.css');
@import url('../bootstrap.min.css');

* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, serif !important;
	margin: 0;
	color: #000 !important;
}

a {
	text-decoration: none !important;
	color: #000 !important;
}

.site_btn {
	display: inline-block;
	text-align: center;
	min-width: 160px;
	padding: 3px 13px 0 13px;
	height: 30px;
	background: #ed1b24;
	border-radius: 20px;
	color: #fff !important;
}

.logo_bg {
	height: 100px;
	background: url('../img/head_bg.jpg');
}

.logo {
	position: relative;
	top: -30px;
}

.banner {
	min-height: 825px;
	background: url('../img/banner.jpg') center/ cover no-repeat;
}

.banner-content {
	height: 670px;
}

.subbaners {
	background: #ed1b24;
	color: #fff;
	height: 150px;
	display: block;
}

.about_photo {
	background: url('../img/about_photo.jpg') left no-repeat;
	height: 335px;
}

.device {
	height: 305px;
	background: url('../img/device.jpg') center / cover no-repeat;
}

.using {
	background: url('../img/using.jpg') center / cover no-repeat;
}

.site_btn2 {
	display: inline-block;
	text-align: center;
	min-width: 160px;
	padding: 3px 13px 0 13px;
	height: 30px;
	background: #969696;
	border-radius: 20px;
	color: #fff !important;
}

.site_link {
	text-decoration: underline !important;
	color: #ed1b24 !important;
}

.ul_reboot {
	list-style: none;
	padding-left: 0;
}

.footer_bg {
	background: #d5d5d5;
}
